
 
        <div class="col-12">
        <router-outlet></router-outlet>
      <div style="margin-top:70px;"> <nav class="navbar  fixed-bottom  text-white justify-content-between" style="background-color:
        #2d2d2d">
                <a class="navbar-brand"><i class="fa fa-info-circle" aria-hidden="true"></i> Help</a>
                <form class="form-inline">
                    <button class="btn btn-danger my-2 my-sm-0" style="margin-top: 20px" (click)="logout()">
                        Logout
                       </button>
                   
                  
                </form>
              </nav>
            </div>
        </div>
        <!-- <router-outlet></router-outlet> -->
        <!-- <nav class="navbar  fixed-bottom  text-white justify-content-between" style="background-color:black">
                <a class="navbar-brand"><i class="fa fa-info-circle" aria-hidden="true"></i> Help</a>
                <form class="form-inline">
                    <button class="btn btn-danger my-2 my-sm-0" style="margin-top: 20px" (click)="logout()">
                        Logout
                       </button>
                   
                  
                </form>
              </nav> -->
      