<!-- 
               
<div id="login" style="  background-color: #17a2b8;
height: 100vh;">
 <div class="bg-danger mt-2 p-2 text-center text-white"
 *ngIf="errorMessage != null">
 {{errorMessage}}
</div> -->
          <!-- <h3 class="text-center text-white pt-5">Admin Form</h3>
         <div class="container" style=" margin-top: 50px;
         max-width: 500px;
         height: 300px;
         border: 1px solid #9C9C9C;
         background-color: #EAEAEA;">
             <div id="login-row" class="row justify-content-center align-items-center">
                 <div id="login-column" class="col-md-6">
                     <div id="login-box" class="col-md-12">
                         <form id="login-form" class="form"  method="post" novalidate #form="ngForm" (ngSubmit)="authenticate(form)" style=" padding: 20px;">
                             <h3 class="text-center text-info" style="margin-bottom:30px;">Login</h3>
                              
                              <div class="form-group" >
                                 <div class="input-group mb-2">
                                        
                                     <div class="input-group-prepend">
                                         <div class="input-group-text"><i class="fa fa-user text-info"></i></div>
                                     </div>
                                     <input type="text" name="username" id="username" placeholder="username"  class="form-control" [(ngModel)]="username" required />
                                 </div>
                             </div> 
                            
                             <div class="form-group">
                                     <div class="input-group mb-2">
                                            
                                         <div class="input-group-prepend">
                                             <div class="input-group-text"><i class="fa fa-lock text-info"></i></div>
                                         </div>
                                         <input type="password" name="password" placeholder="password" id="password" class="form-control" [(ngModel)]="password" required />
                                     </div>
                                 </div>
                             <div class="form-group">
                                
                                        
                                         <button class="btn btn-primary m-1" type="submit">Log In</button>
                             </div>
                             
                         </form>
                     </div>
                 </div>
             </div>
         </div>  -->
         <!-- <style>
                 .form-heading { color:#fff; font-size:23px;}
             .panel h2{ color:#444444; font-size:18px; margin:0 0 8px 0;}
             .panel p { color:#777777; font-size:14px; margin-bottom:30px; line-height:24px;}
             .login-form .form-control {
               background: #f7f7f7 none repeat scroll 0 0;
               border: 1px solid #d4d4d4;
               border-radius: 4px;
               font-size: 14px;
               height: 50px;
               line-height: 50px;
             }
             .main-div {
               background: #EAEAEA none repeat scroll 0 0;
               border-radius: 2px;
               margin: 10px auto 30px;
               max-width: 38%;
               padding: 50px 70px 70px 71px;
             }
             
             .login-form .form-group {
               margin-bottom:10px;
             }
             .login-form{ text-align:center;}
             .forgot a {
               color: #777777;
               font-size: 14px;
               text-decoration: underline;
             }
             .login-form  .btn.btn-primary {
               background: #0e82c5 none repeat scroll 0 0;
               border-color: #4846f1;
               color: #ffffff;
               font-size: 14px;
               width: 100%;
               height: 50px;
               line-height: 50px;
               padding: 0;
             }
             .forgot {
               text-align: left; margin-bottom:30px;
             }
             .botto-text {
               color: #ffffff;
               font-size: 14px;
               margin: auto;
             }
             .login-form .btn.btn-primary.reset {
               background: #ff9900 none repeat scroll 0 0;
             }
             .back { text-align: left; margin-top:10px;}
             .back a {color: #444444; font-size: 13px;text-decoration: none;}
             </style>
             <div id="Loginform" style='background-color: #17a2b8 ; background-repeat: no-repeat; background-position:center; background-size:cover; padding:10px;'><div class="container">
                  
                     <div class="login-form">
                     <div class="main-div">
                         <div class="panel">
                        <h2>Admin Login</h2>
                        <p>Please enter your username and password</p>
                        </div>
                        <form id="Login" class="form"  method="post" novalidate #form="ngForm" (ngSubmit)="authenticate(form)" style=" padding: 20px;">
                                 
                            <div class=" form-group">
                                         <div class="input-group mb-2">
                                                
                                             <div class="input-group-prepend">
                                                 <div class="input-group-text"><i class="fa fa-user text-info"></i></div>
                                             </div>
                                             <input type="text" name="username" id="username" placeholder="username"  class="form-control" [(ngModel)]="username" required />
                                         </div>
                                     </div>
                     
                                     <div class="form-group">
                                             <div class="input-group mb-2">
                                                    
                                                 <div class="input-group-prepend">
                                                     <div class="input-group-text"><i class="fa fa-lock text-info"></i></div>
                                                 </div>
                                                 <input type="password" name="password" placeholder="password" id="password" class="form-control" [(ngModel)]="password" required />
                                             </div>
                                         </div>
                         
                             <button type="submit" class="btn btn-primary">Login</button>
                     
                         </form>
                        
                   
                     </div></div></div></div> -->
                     <!-- <h3 class="text-center text-white pt-5">Admin Form</h3>
                     <div class="container" style=" margin-top: 120px;
                     max-width: 600px;
                     height: 320px;
                     border: 1px solid #9C9C9C;
                     background-color: #EAEAEA;">
                         <div id="login-row" class="row justify-content-center align-items-center">
                             <div id="login-column" class="col-md-6">
                                 <div id="login-box" class="col-md-12">
                                     <form id="login-form" class="form"  method="post" novalidate #form="ngForm" (ngSubmit)="authenticate(form)" style=" padding: 20px;">
                                         <h3 class="text-center text-info">Login</h3>
                                         <div class="form-group">
                                             <label for="username" class="text-info">Username:</label><br>
                                             <input type="text" name="username" id="username" class="form-control" [(ngModel)]="username" required />
                                         </div>
                                         <div class="form-group">
                                             <label for="password" class="text-info">Password:</label><br>
                                             <input type="password" name="password" id="password" class="form-control" [(ngModel)]="password" required />
                                         </div>
                                         <div class="form-group">
                                            
                                                     <button class="btn btn-secondary m-1" routerLink="/">Go back</button>
                                                     <button class="btn btn-primary m-1" type="submit">Log In</button>
                                         </div>
                                         
                                     </form>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div> -->
                 
<div id="login" style="  background-image: url('https://cdn2.iconfinder.com/data/icons/user-profile/100/Follower-512.png') ; background-repeat: no-repeat; background-color: #88b77b;
height: 100vh">
<div class="bg-danger mt-2 p-2 text-center text-white" *ngIf="errorMessage != null">
{{errorMessage}}
</div>

<div style="text-align:center; margin-left: 25% " class="container">
<div class="d-flex justify-content-center h-100">
<div style="margin-top:16%"class="card">
 <div class="card-header">
     <h3>Sign In</h3>

 </div>
 <div style="margin-top:15px" class="card-body">
     <form id="Login" class="form" method="post" novalidate #form="ngForm"
         (ngSubmit)="authenticate(form)">
         <div  class="input-group mb-2">

             <div class="input-group-prepend">
                 <div class="input-group-text"><i class="fa fa-user text-info"></i></div>
             </div>
             <input type="text" name="username" id="username" placeholder="username" class="form-control"
                 [(ngModel)]="username" required />
         </div>
         <div style="margin-top:20px" class="input-group mb-2">
         <div class="input-group-prepend">
             <div class="input-group-text"><i class="fa fa-lock text-info"></i></div>
         </div>
         
         <input type="password" name="password" placeholder="password" id="password" class="form-control"
             [(ngModel)]="password" required />
 </div>

    
 
<div style="text-align: center;margin-top: 15px">
 
  
 <button style="margin-left: 10px;  color: white;font-family: 'Raleway', sans-serif;"  type="submit" class="btn btn-danger "><h5>Login</h5></button>
</div>
 </form>